@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3b413c;
}
h1{
  font-size: 2.5em;
  border-bottom: 2px solid rgb(105, 103, 103);
  padding: 5px;
}
h2{
  color:rgb(158, 153, 153);
}
